.inp {
  width: 5%;
  border: 0px;
  height: 1em;
}
header {
  background: linear-gradient(to right, #6fe5e9, #f0e76e);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3%;
  font-family: 'Balsamiq Sans', cursive;
}
.list {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #6fe5e9, #f0e76e);
  border-image-slice: 1;
  margin: 0px auto;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}
.list .user {
  width: 45%;
}
.list .user p {
  font-family: 'Balsamiq Sans', cursive;
}
.list .user input {
  width: 45%;
  height: 25px;
  margin: 4px;
}
.list .user button {
  width: 30%;
  height: 25%;
  margin: 4px;
  background: linear-gradient(to right, #6fe5e9, #f0e76e);
  font-family: 'Balsamiq Sans', cursive;
  cursor: pointer;
}
.list .user button:hover {
  background: linear-gradient(to right, #08c2cf, #e7d52d);
  color: #000000;
  transition: background-color 0.4s ease;
  border: 2px solid #000000;
}
.list .user input[type=radio] {
  width: 5%;
  border: 0px;
  height: 1em;
}
.list .user input[type=checkbox] {
  width: 5%;
  border: 0px;
  height: 1em;
}
.list .user table.radio {
  width: 80%;
}
.list .user table.radio td {
  text-align: left;
  width: 20%;
}
.list .user .messageForDelete {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  height: 20%;
  padding: 1em;
  background: white;
  border-radius: 15px;
  border: 1px solid lightgrey;
  text-align: center;
  color: black;
}
.list .user .flex-just-sp-ar {
  width: 100%;
  margin-top: 3em;
  display: flex;
  justify-content: space-around;
}
.list .tableStudent {
  width: 45%;
  font-family: 'Balsamiq Sans', cursive;
}
.list .tableStudent .studentTable {
  margin: 0px auto;
  border: 2px solid #807a7a;
  width: 100%;
  border-collapse: collapse;
}
.list .tableStudent .studentTable td:first-child {
  background: #bdbdbd;
}
.list .tableStudent .studentTable th {
  background: #bdbdbd;
  border: 2px solid grey;
}
.list .tableStudent .studentTable td {
  border: 2px solid grey;
  padding: 12px 2px;
}
.list .tableStudent .studentTable .findST {
  background: #f0e76e;
  color: darkgreen;
}
.list .tableStudent .studentTable .badMark {
  color: #ac0808;
  font-weight: bold;
}
.list .tableStudent .studentTable .procDel {
  background: #6fe5e9;
  color: #000000;
}
.list .tableStudent .btnDel {
  background: #6fe5e9;
  border-radius: 50%;
}
